---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="cv" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Soy un apasionado de la tecnolog铆a y la inform谩tica, desde que toqu茅 mi primer Pentium hasta el d铆a de hoy he ido adquiriendo conocimientos para trabajar en algo que me apasiona. Actualmente, me sigo formando y evolucionando seg煤n nuestros tiempos. Soy una persona curiosa e imaginativa, me interesa el marketing de contenido y la gamificaci贸n.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educaci贸n</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Estudios obligatorios 130313031147/0"
      subtitle="Expedio el 7 de julio de 2003 en IES P茅rez Galdos, Madrid, Espa帽a"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="MTSolution S.R.L."
      subtitle="Actualmente trabajando aqu铆 desde 02/2024, en Treviso, Italia"
    >
      T茅cnico Sharp de reparaci贸n y mantenimiento a nivel mec谩nico y electr贸nico (soldadura), sea en laboratorio e in-situ para fotocopiadoras multific铆on, monocrom谩ticas, plotters, BigPad y todo tipo de atrezatura para las oficinas. Instalaci贸n y configuraci贸n personalizada de todos los productos, monitorage de consumables y entrega de los mismos.
    </TimeLineElement>
    <TimeLineElement
      title="Geox S.P.A."
      subtitle="Desde 10/2023 Hasta 02/2024 en Montebelluna, Veneto, Italia"
    >
      T茅cnico inform谩tico encargado de ofrecer soporte interno a empleados de la empresa, las tareas a realizar eran: instalaci贸n y desinstalaci贸n de puestos de trabajo, resoluci贸n de incidencias mediante herramienta Jira, administraci贸n de altas y bajas en AD.
    </TimeLineElement>
    <TimeLineElement
      title="Il Fornaio del Casale S.P.A."
      subtitle="Desde 01/2023 hasta 10/2023 en Casale sul Sile, Veneto, Italia"
    >
      Mozo de picking en dedicada a productos de aliminetaci贸n dulces y salados a nivel nacional e internacional. Las tareas a realizar son:  preparaci贸n de los pedidos en la zona de picking que se realizaban con un traspallet el茅ctrico, reposici贸n de pallets en altura, carga de contenedores mar铆timos y tr谩ilers, limpieza y orden del diaria antes de ceerrar el almac茅n.
    </TimeLineElement>
    <TimeLineElement
      title="Sabacaucho S.A.U."
      subtitle="Desde 06/2022 hasta 10/2022 en Castellar del Vall猫s, Barcelona, Espa帽a"
    >
      T茅cnico inform谩tico encargado de ofrecer soporte interno a empleados de la empresa, las tareas a realizar eran: preparaci贸n de puestos de trabajo, registro de usuarios, revisi贸n de servidores de backup y resoluci贸n de incidencias inform谩ticas.
  </TimeLineElement>
  <TimeLineElement
      title="Merkal Calzados S.L."
      subtitle="Desde 04/2021 hasta 04/2022 en Barcelona, Espa帽a"
    >
      T茅cnico inform谩tico encargado de ofrecer soporte interno a empleados de la empresa, las tareas a realizar eran: preparaci贸n de puestos de trabajo y tiendas, registro de usuarios o empleados en tiendas, revisi贸n de servidores de backup, resoluci贸n de incidencias inform谩ticas y de conectividad con monitorage.
  </TimeLineElement>
  <TimeLineElement
      title="NestTReT S.L."
      subtitle="Desde 04/2020 hasta 04/2021 en Barcelona, Espa帽a"
    >
      Operador de servicio 24/7 para IBM y el Banco Sabadell, las tareas a realizar eran: supervisi贸n y escalado de primer, segundo y tercer nivel en desarrollo, realizaci贸n de deploys en preproducci贸n y producci贸n (servidores Windows, Unix, Red-Hat, Solaris).
  </TimeLineElement>
  <TimeLineElement
      title="Nolimits Travel S.L."
      subtitle="Desde 11/2018 hasta 11/2020 en Sabadell, Barcelona, Espa帽a"
    >
      T茅cnico inform谩tico encargado de ofrecer soporte interno a empleados de la empresa, las tareas a realizar eran: resoluci贸n de incidencias t茅cnicas en el puesto de trabajo a nivel de hardware y software, gesti贸n de inventarios, consumibles, racks, altas y bajas en AD, encargado de la configuraci贸n y formaci贸n en la herramienta freshdesk, sistema ticketing y resoluci贸n de incidencias.
  </TimeLineElement>
  <TimeLineElement
      title="Inforein (Log铆stica) S.L."
      subtitle="Desde 07/2017 hasta 11/2018 en Barcelona, Espa帽a"
    >
      Responsable de log铆stica para empleados y clientes de la empresa, donde las tareas a realizar eran: gesti贸n de stocks, registro de material, preparaci贸n de pedidos y expedici贸n nacional en toda Espa帽a. Gesti贸n de clientes y del material para nuevas instalaciones. Organizaci贸n y preparaci贸n de material seg煤n peticiones de clientes. Reciclaje de equipos inform谩ticos de acuerdo con la normativa vigente.
  </TimeLineElement>
  <TimeLineElement
      title="Inforein (Inform谩tica) S.L."
      subtitle="Desde 03/2016 hasta 04/2017 en Barcelona, Espa帽a"
    >
    T茅cnico inform谩tico encargado de ofrecer soporte interno a empleados de la empresa, las tareas a realizar eran: instalaci贸n de equipos inform谩ticos, impresoras, quioscos y servidores en toda Catalu帽a. Mantenimiento y reparaci贸n de los mismos en garantia o fuera de ella.
  </TimeLineElement>
  <TimeLineElement
      title="RTVE S.A."
      subtitle="Desde 03/2014 hasta 02/2016 en Madrid, Espa帽a"
    >
    T茅cnico inform谩tico encargado de ofrecer soporte interno y en pocas ocasiones externo, a empleados de la empresa o espectadores de la web, las tareas a realizar eran: mantenimiento de equipos y programas internos, pruebas de servicios en la parte de servicios interactivos rtve. Preparaci贸n y registro en el sistema de puestos de trabajo. Control de inventario, pr茅stamos de material multimedia a periodistas y monitorage de la web. En otras ocasiones resoluci贸n de incidencias mediante email de espectadores que reportaban bugs o neesitaban asistencia t茅cnica de primer nivel.
  </TimeLineElement>
  <TimeLineElement
      title="Accenture (Proyecto Orange) S.L."
      subtitle="Desde 03/2013 hasta 03/2014 en Madrid, Espa帽a"
    >
      QATester de primer nivel, las tareas a realizar eran: tester de aplicaciones gestionados por el cervicio comercial de Orange Espa帽a, en un entorno de preproducci贸n, para la detecci贸n de problemas en las aplicaciones en comunicaci贸n con los diferentes sistemas de Orange que usan en sus tiendas u oficinas.
  </TimeLineElement>
  <TimeLineElement
      title="Accenture (Proyecto Vodafone) S.L."
      subtitle="Desde 07/2012 hasta 03/2013 en Madrid, Espa帽a"
    >
      QATester de primer nivel, las tareas a realizar eran: tester de aplicaciones gestionados por el cervicio comercial de Vodafone Espa帽a, en un entorno de preproducci贸n, para la detecci贸n de problemas en las aplicaciones en comunicaci贸n con los diferentes sistemas de Vodafone que usan en sus tiendas u oficinas.
  </TimeLineElement>
  <TimeLineElement
      title="Iecisa S.L."
      subtitle="Desde 07/2011 hasta 03/2012 en Madrid, Espa帽a"
    >
      Operador de gesti贸n de usuarios internos para Movistar, las tareas a realizar eran: gesti贸n de solicitudes de renovaci贸n o nuevo acceso a sistemas telef贸nicos mediante AD y software interno. Seguimiento, revisi贸n, preparaci贸n de la documentaci贸n del servicio de ventas.
  </TimeLineElement>
  <TimeLineElement
      title="Prink S.L."
      subtitle="Desde 06/2011 hasta 07/2011 en Madrid, Espa帽a"
    >
      Empleado de caja en tienda, las tareas a realizar eran: Mantenimiento y venta de impresoras y consumibles consumibles. Mantenimiento y limpieza de la tienda, apertura y cierre de caja.
  </TimeLineElement>
  <TimeLineElement
      title="Entelgy S.L."
      subtitle="Desde 01/2009 hasta 12/2010 en Madrid, Espa帽a"
    >
     T茅cnico Help Desk encargado de ofrecer soporte a clientes de la empresa, las tareas a realizar eran: asistencia de segundo nivel paquete inform谩tico A3 contabilidad, n贸minas o fiscalidad. Conexi贸n remota a los ordenadores o servidores de los usuarios, gesti贸n de licencias, recuperaci贸n de BBDD y puesta en marcha en nuevos  nuevos ordenadores o usuarios.
  </TimeLineElement>
  <TimeLineElement
      title="Entelgy S.L."
      subtitle="Desde 01/2008 hasta 12/2009 en Madrid, Espa帽a"
    >
    T茅cnico Help Desk encargado de ofrecer soporte a clientes de la empresa, las tareas a realizar eran: soporte de primer nivel para software para reservas de vuelos y hoteles en las principales agencias de viajes. Conexi贸n remota a los ordenadores de los usuarios para la resoluci贸n de incidencias b谩sicas y escalado al segundo nivel externo para el env铆o de t茅cnicos in situ. Examen de informes de servicio de t茅cnicos.
  </TimeLineElement>
  <TimeLineElement
      title="Iberedes S.L."
      subtitle="Desde 01/2007 hasta 12/2007 en Madrid, Espa帽a"
    >
      T茅cnico inform谩tico encargado de ofrecer soporte a clientes de la empresa, las tareas a realizar eran: sustituci贸n de perif茅ricos, reparaci贸n de equipos personales y redes para usuarios y empresas. Instalaci贸n de software y mantenimiento de equipos, virus y traspaso de correo con Outlook.
  </TimeLineElement>
  <TimeLineElement
      title="Teduinsa S.A."
      subtitle="Desde 12/2005 hasta 11/2007 en Madrid, Espa帽a"
    >
      T茅cnico en cadena de motaje, las tareas a realizar eran: montaje y control de calidad para la l铆nea de sobre mesa, port谩tiles y televisores Carrefour. Reparaci贸n y reacondicionamiento para la puesta en venta con los mismos controles de calidad.
  </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <abbr title="C贸digo de verificaci贸n: 11767490.">F160380AA-132/1211 - Blog para la comunicaci贸n en negocios.</abbr>
    </li>
    <li>
      <abbr title="C贸digo de verificaci贸n: 50937877.">F160380AA-134/141 - La firma digital.</abbr>.
    </li>
    <li>
      <abbr title="C贸digo de verificaci贸n: 53037877.">F160084AA-28/143 - SPSS: Aplicaci贸n y an谩lisis estad铆stico.</abbr>
    </li>
    <li>
      <abbr title="C贸digo de verificaci贸n: 63498.">F180337AA-4/125 - Protecci贸n de equipos en la red.</abbr>
    </li>
    <li>
      <abbr title="C贸digo de verificaci贸n: C贸digo de verificaci贸n: 3073555.">F181797AA-11/131 - Programaci贸n web con php (software libre).</abbr>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>
  
<!--Personalizado -->
<div class="badge badge-success gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  Hardware
</div>
<div class="badge badge-success gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  Software
</div>
<div class="badge badge-success gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  Paquete Ofice
</div>
<div class="badge badge-success gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  Microsoft 365
</div>
<div class="badge badge-success gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  Herramientas administrativas de Windows
</div>
<div class="badge badge-success gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  Jira
</div>
<div class="badge badge-success gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  FreshDesk
</div>
<div class="badge badge-info gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  HTML5 & CSS3
</div>

<br><br><br>

<!-- Idiomas -->

<div class="mb-5">
  <div class="text-3xl w-full font-bold">Idiomas</div>
</div>

<div class="time-line-container grid gap-4 mb-10">
  <TimeLineElement
    title="Espa帽ol"
    subtitle="Lengua madre"
  />
</div>

<div class="time-line-container grid gap-4 mb-10">
  <TimeLineElement
    title="Italiano"
    subtitle="Nivel Medio"
  />
</div>
<br><br>
<!-- Descarga CV -->
<div class="text-center w-full font-thin">Scarica il curriculum in italiano</div><br>
  <div class="flex flex-col items-center">
    <a src="#">
      <button class="btn">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M13 11.15V4a1 1 0 1 0-2 0v7.15L8.78 8.374a1 1 0 1 0-1.56 1.25l4 5a1 1 0 0 0 1.56 0l4-5a1 1 0 1 0-1.56-1.25L13 11.15Z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M9.657 15.874 7.358 13H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-2.358l-2.3 2.874a3 3 0 0 1-4.685 0ZM17 16a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H17Z" clip-rule="evenodd"/>
        </svg>    
        Scarica in 
      </button>
    </a>
    <div>
      <br>
      <p>Spiacente, al momento non 猫 disponibile</p>
    </div>
  </div>
</div>
</BaseLayout>
