---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="cv" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Soy un apasionado de la tecnología y la informática, desde que toqué mi primer Pentium hasta el día de hoy he ido adquiriendo conocimientos para trabajar en algo que me apasiona. Actualmente, me sigo formando y evolucionando según nuestros tiempos. Soy una persona curiosa e imaginativa, me interesa el marketing de contenido y la gamificación.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Estudios obligatorios 130313031147/0"
      subtitle="Expedio el 7 de julio de 2003 en IES Pérez Galdos, Madrid, España"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="MTSolution S.R.L."
      subtitle="Actualmente trabajando aquí desde 02/2024, en Treviso, Italia"
    >
      Técnico Sharp de reparación y mantenimiento a nivel mecánico y electrónico (soldadura), sea en laboratorio e in-situ para fotocopiadoras multificíon, monocromáticas, plotters, BigPad y todo tipo de atrezatura para las oficinas. Instalación y configuración personalizada de todos los productos, monitorage de consumables y entrega de los mismos.
    </TimeLineElement>
    <TimeLineElement
      title="Geox S.P.A."
      subtitle="Desde 10/2023 Hasta 02/2024 en Montebelluna, Veneto, Italia"
    >
      Técnico informático encargado de ofrecer soporte interno a empleados de la empresa, las tareas a realizar eran: instalación y desinstalación de puestos de trabajo, resolución de incidencias mediante herramienta Jira, administración de altas y bajas en AD.
    </TimeLineElement>
    <TimeLineElement
      title="Il Fornaio del Casale S.P.A."
      subtitle="Desde 01/2023 hasta 10/2023 en Casale sul Sile, Veneto, Italia"
    >
      Mozo de picking en dedicada a productos de aliminetación dulces y salados a nivel nacional e internacional. Las tareas a realizar son:  preparación de los pedidos en la zona de picking que se realizaban con un traspallet eléctrico, reposición de pallets en altura, carga de contenedores marítimos y tráilers, limpieza y orden del diaria antes de ceerrar el almacén.
    </TimeLineElement>
    <TimeLineElement
      title="Sabacaucho S.A.U."
      subtitle="Desde 06/2022 hasta 10/2022 en Castellar del Vallès, Barcelona, España"
    >
      Técnico informático encargado de ofrecer soporte interno a empleados de la empresa, las tareas a realizar eran: preparación de puestos de trabajo, registro de usuarios, revisión de servidores de backup y resolución de incidencias informáticas.
  </TimeLineElement>
  <TimeLineElement
      title="Merkal Calzados S.L."
      subtitle="Desde 04/2021 hasta 04/2022 en Barcelona, España"
    >
      Técnico informático encargado de ofrecer soporte interno a empleados de la empresa, las tareas a realizar eran: preparación de puestos de trabajo y tiendas, registro de usuarios o empleados en tiendas, revisión de servidores de backup, resolución de incidencias informáticas y de conectividad con monitorage.
  </TimeLineElement>
  <TimeLineElement
      title="NestTReT S.L."
      subtitle="Desde 04/2020 hasta 04/2021 en Barcelona, España"
    >
      Operador de servicio 24/7 para IBM y el Banco Sabadell, las tareas a realizar eran: supervisión y escalado de primer, segundo y tercer nivel en desarrollo, realización de deploys en preproducción y producción (servidores Windows, Unix, Red-Hat, Solaris).
  </TimeLineElement>
  <TimeLineElement
      title="Nolimits Travel S.L."
      subtitle="Desde 11/2018 hasta 11/2020 en Sabadell, Barcelona, España"
    >
      Técnico informático encargado de ofrecer soporte interno a empleados de la empresa, las tareas a realizar eran: resolución de incidencias técnicas en el puesto de trabajo a nivel de hardware y software, gestión de inventarios, consumibles, racks, altas y bajas en AD, encargado de la configuración y formación en la herramienta freshdesk, sistema ticketing y resolución de incidencias.
  </TimeLineElement>
  <TimeLineElement
      title="Inforein (Logística) S.L."
      subtitle="Desde 07/2017 hasta 11/2018 en Barcelona, España"
    >
      Responsable de logística para empleados y clientes de la empresa, donde las tareas a realizar eran: gestión de stocks, registro de material, preparación de pedidos y expedición nacional en toda España. Gestión de clientes y del material para nuevas instalaciones. Organización y preparación de material según peticiones de clientes. Reciclaje de equipos informáticos de acuerdo con la normativa vigente.
  </TimeLineElement>
  <TimeLineElement
      title="Inforein (Informática) S.L."
      subtitle="Desde 03/2016 hasta 04/2017 en Barcelona, España"
    >
    Técnico informático encargado de ofrecer soporte interno a empleados de la empresa, las tareas a realizar eran: instalación de equipos informáticos, impresoras, quioscos y servidores en toda Cataluña. Mantenimiento y reparación de los mismos en garantia o fuera de ella.
  </TimeLineElement>
  <TimeLineElement
      title="RTVE S.A."
      subtitle="Desde 03/2014 hasta 02/2016 en Madrid, España"
    >
    Técnico informático encargado de ofrecer soporte interno y en pocas ocasiones externo, a empleados de la empresa o espectadores de la web, las tareas a realizar eran: mantenimiento de equipos y programas internos, pruebas de servicios en la parte de servicios interactivos rtve. Preparación y registro en el sistema de puestos de trabajo. Control de inventario, préstamos de material multimedia a periodistas y monitorage de la web. En otras ocasiones resolución de incidencias mediante email de espectadores que reportaban bugs o neesitaban asistencia técnica de primer nivel.
  </TimeLineElement>
  <TimeLineElement
      title="Accenture (Proyecto Orange) S.L."
      subtitle="Desde 03/2013 hasta 03/2014 en Madrid, España"
    >
      QATester de primer nivel, las tareas a realizar eran: tester de aplicaciones gestionados por el cervicio comercial de Orange España, en un entorno de preproducción, para la detección de problemas en las aplicaciones en comunicación con los diferentes sistemas de Orange que usan en sus tiendas u oficinas.
  </TimeLineElement>
  <TimeLineElement
      title="Accenture (Proyecto Vodafone) S.L."
      subtitle="Desde 07/2012 hasta 03/2013 en Madrid, España"
    >
      QATester de primer nivel, las tareas a realizar eran: tester de aplicaciones gestionados por el cervicio comercial de Vodafone España, en un entorno de preproducción, para la detección de problemas en las aplicaciones en comunicación con los diferentes sistemas de Vodafone que usan en sus tiendas u oficinas.
  </TimeLineElement>
  <TimeLineElement
      title="Iecisa S.L."
      subtitle="Desde 07/2011 hasta 03/2012 en Madrid, España"
    >
      Operador de gestión de usuarios internos para Movistar, las tareas a realizar eran: gestión de solicitudes de renovación o nuevo acceso a sistemas telefónicos mediante AD y software interno. Seguimiento, revisión, preparación de la documentación del servicio de ventas.
  </TimeLineElement>
  <TimeLineElement
      title="Prink S.L."
      subtitle="Desde 06/2011 hasta 07/2011 en Madrid, España"
    >
      Empleado de caja en tienda, las tareas a realizar eran: Mantenimiento y venta de impresoras y consumibles consumibles. Mantenimiento y limpieza de la tienda, apertura y cierre de caja.
  </TimeLineElement>
  <TimeLineElement
      title="Entelgy S.L."
      subtitle="Desde 01/2009 hasta 12/2010 en Madrid, España"
    >
     Técnico Help Desk encargado de ofrecer soporte a clientes de la empresa, las tareas a realizar eran: asistencia de segundo nivel paquete informático A3 contabilidad, nóminas o fiscalidad. Conexión remota a los ordenadores o servidores de los usuarios, gestión de licencias, recuperación de BBDD y puesta en marcha en nuevos  nuevos ordenadores o usuarios.
  </TimeLineElement>
  <TimeLineElement
      title="Entelgy S.L."
      subtitle="Desde 01/2008 hasta 12/2009 en Madrid, España"
    >
    Técnico Help Desk encargado de ofrecer soporte a clientes de la empresa, las tareas a realizar eran: soporte de primer nivel para software para reservas de vuelos y hoteles en las principales agencias de viajes. Conexión remota a los ordenadores de los usuarios para la resolución de incidencias básicas y escalado al segundo nivel externo para el envío de técnicos in situ. Examen de informes de servicio de técnicos.
  </TimeLineElement>
  <TimeLineElement
      title="Iberedes S.L."
      subtitle="Desde 01/2007 hasta 12/2007 en Madrid, España"
    >
      Técnico informático encargado de ofrecer soporte a clientes de la empresa, las tareas a realizar eran: sustitución de periféricos, reparación de equipos personales y redes para usuarios y empresas. Instalación de software y mantenimiento de equipos, virus y traspaso de correo con Outlook.
  </TimeLineElement>
  <TimeLineElement
      title="Teduinsa S.A."
      subtitle="Desde 12/2005 hasta 11/2007 en Madrid, España"
    >
      Técnico en cadena de motaje, las tareas a realizar eran: montaje y control de calidad para la línea de sobre mesa, portátiles y televisores Carrefour. Reparación y reacondicionamiento para la puesta en venta con los mismos controles de calidad.
  </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <abbr title="Código de verificación: 11767490.">F160380AA-132/1211 - Blog para la comunicación en negocios.</abbr>
    </li>
    <li>
      <abbr title="Código de verificación: 50937877.">F160380AA-134/141 - La firma digital.</abbr>.
    </li>
    <li>
      <abbr title="Código de verificación: 53037877.">F160084AA-28/143 - SPSS: Aplicación y análisis estadístico.</abbr>
    </li>
    <li>
      <abbr title="Código de verificación: 63498.">F180337AA-4/125 - Protección de equipos en la red.</abbr>
    </li>
    <li>
      <abbr title="Código de verificación: Código de verificación: 3073555.">F181797AA-11/131 - Programación web con php (software libre).</abbr>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>
  
<!--Personalizado -->
<div class="badge badge-success gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  Hardware
</div>
<div class="badge badge-success gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  Software
</div>
<div class="badge badge-success gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  Paquete Ofice
</div>
<div class="badge badge-success gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  Microsoft 365
</div>
<div class="badge badge-success gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  Herramientas administrativas de Windows
</div>
<div class="badge badge-success gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  Jira
</div>
<div class="badge badge-success gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  FreshDesk
</div>
<div class="badge badge-info gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  HTML5 & CSS3
</div>

<!--<div class="badge badge-warning gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  warning
</div>
<div class="badge badge-error gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="inline-block h-4 w-4 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
  error
</div> -->

</BaseLayout>
