---
const currentPath = Astro.url.pathname;

const isActive = (path) => {
  return currentPath === path || currentPath.startsWith(path + "/");
};

const activeClass = "bg-base-300";
---

<ul class="menu grow shrink menu-md overflow-y-auto">

  <li>
    <a class={`py-3 text-base ${isActive("/") ? activeClass : ""}`} href="/">
      Home
    </a>
  </li>

  <li>
    <a class={`py-3 text-base ${isActive("/projects") ? activeClass : ""}`} href="/projects">
      Proyectos
    </a>
  </li>

  <li>
    <a class={`py-3 text-base ${isActive("/blog") ? activeClass : ""}`} href="/blog">
      Blog
    </a>
  </li>

  <li>
    <a class={`py-3 text-base ${isActive("/cv") ? activeClass : ""}`} href="/cv">
      CV
    </a>
  </li>

  <li>
    <a class={`py-3 text-base ${isActive("/contact") ? activeClass : ""}`} href="/contact">
      Contacto
    </a>
  </li>

</ul>

<!-- Traductor -->
<div class="px-4 pb-4 flex justify-center">
  <a target="_blank" href="https://raulmguerrero-com.translate.goog/?_x_tr_sl=auto&_x_tr_tl=it&_x_tr_hl=es">
    <button class="relative flex items-center gap-2 px-4 py-2 rounded-md text-sm font-medium
                   border border-base-content/30 text-base-content bg-transparent
                   hover:border-base-content transition-all duration-300 group">

      <span class="z-10">Traduci in 🇮🇹</span>

    </button>
  </a>
</div>