---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <style>
      body {
        font-family: system-ui, sans-serif;
      }

      @media print {
        body {
          background: white !important;
          color: black !important;
        }

        * {
          background: transparent !important;
          color: black !important;
        }

        .shadow,
        .shadow-md,
        .shadow-lg {
          box-shadow: none !important;
        }
      }

      @page {
        size: A4;
        margin: 18mm;
      }
    </style>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R3TG90C8J5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-R3TG90C8J5');
</script>

  </head>

  <body class="bg-white text-black">
    <main class="max-w-6xl mx-auto py-16 px-6">
      <slot />
    </main>
  </body>
</html>